@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração para o layout da página */
html,
body {
    height: 100%; /* Garante que o HTML e o body ocupem toda a altura da janela */
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    margin: 0;
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço restante */
}

footer {
    background-color: #9bbee6;
    color: #000000;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 0.7rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* variables */
:root {
    --primary-color: #0099ff;
    --secondary-color: #2ecc71;
    --background-color: #fff;
    --background-color-search: #f5f5f5;
    --icon-color: #828282;

    --text-color: #000;

    --title-font-size: 2rem;
    --subtitle-font-size: 1.5rem;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

h3 {
    margin: 10px;
}

#requirements {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--icon-color);
}

.list {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.list li,
.list-incompatibility li {
    margin: 10px 0;
}

.list-incompatibility {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 20px;
    list-style-type: disc;
    padding-left: 10px;
}

/* Estilo para a div do banner */
.banner {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Faz a div ocupar toda a largura */
    height: 200px; /* Altura fixa para o banner */
    overflow: hidden; /* Garante que nada "vaze" da div */
    margin: 0 auto; /* Centraliza a div no eixo horizontal */
}

/* Estilo para a imagem do banner */
#banner-img {
    width: 100%; /* Faz a imagem ocupar toda a largura da div */
    height: 100%; /* Faz a imagem ocupar toda a altura da div */
    object-fit: cover; /* Ajusta a imagem para cobrir a área da div sem distorção */
    border-radius: 10px; /* Bordas arredondadas */
}

.content p {
    margin: 5px 0;
    line-height: 1.5;
    font-weight: 500;
}

.content a.fispq {
    font-weight: 700;
    margin: 20px 10px;
    font-size: 1.2rem;
}

h3 .icon-circle-right,
a .icon-circle-right {
    margin: 0 5px;
    color: var(--primary-color);
}

.container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-height: 300px;
    gap: 10px;
    padding: 10px;
}

.container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 200px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
}

.card-storage {
    display: flex;
}

.card-storage img {
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

@media (max-width: 768px) {
    .banner {
        height: 200px; /* Reduz a altura do banner em telas menores */
        margin-bottom: 2rem;
    }

    #banner-img {
        object-fit: contain; /* Ajusta a imagem para caber sem cortar em telas menores */
    }
}
