.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu dropdown */
.menu {
    position: absolute;
    top: 60px; /* ajuste conforme altura da navbar */
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.icon-menu,
.icon-cross {
    font-size: 2rem;
    color: var(--primary-color);
    margin: auto;
}

.icon-search {
    font-size: 1.5rem;
    color: var(--icon-color);
}

.search-bar {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-search);
}

#search {
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    background-color: var(--background-color-search);
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: #828282;
}

footer {
    color: var(--text-color);
    background-color: var(--background-color-search);
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer i {
    font-size: 1.5rem;
    color: var(--icon-color);
    margin: 0 10px;
}

footer i:hover {
    color: var(--primary-color);
}
